@()

@main("Welcome to the Fibonacci Service") {
    <h1>This is the Fibonacci Service using the Play framework.</h1>
    <p>
    <ul>
        <li><a href="http://localhost:9000/fibonacci">http://localhost:9000/fibonacci</a></li>
        <li><a href="http://localhost:9000/fibonacci/0">http://localhost:9000/fibonacci/0</a></li>
        <li><a href="http://localhost:9000/fibonacci/50">http://localhost:9000/fibonacci/50</a></li>
        <li><a href="http://localhost:9000/fibonacci/100">http://localhost:9000/fibonacci/100</a></li>
    </ul>
}
