<p id="search-results-meta" class="search-results-count" data-totalsize="100">Page 1 of 10. Showing 100 results (0.042
    seconds)</p>
<ol class="search-results cql" data-query="rate limiting">
    <li><h3><span class="aui-icon aui-icon-small aui-iconfont- aui-iconfont-page-default"></span><a
            class="search-result-link visitable" href="/wiki/display/REPOSE/Distributed+rate+limiting" data-type="page">Distributed
        <strong>rate</strong> <strong>limiting</strong></a></h3>
        <div class="highlights">distributed <strong>rate</strong> <strong>limiting</strong> with Repose by adding the
            Distributed Datastore service and the <strong>Rate</strong> <strong>Limiting</strong> filter. 1. Set Up
            Repose Configure Repose using a cluster configuration (multiple servers). Note that all servers must use the
            same system model. 2. Add the <strong>Rate</strong> <strong>Limiting</strong> filter Add the
            <strong>Rate</strong> <strong>Limiting</strong> filter to your system
        </div>
        <div class="search-result-meta"><a class="container" href="/wiki/spaces/REPOSE" title="Space">REPOSE</a> &bull;
            <span class="date" title="Last Modified">Oct 24, 2016</span></div>
    </li>
    <li><h3><span class="aui-icon aui-icon-small aui-iconfont- aui-iconfont-page-default"></span><a
            class="search-result-link visitable" href="/wiki/display/REPOSE/Rate+Limiting+filter"
            data-type="page"><strong>Rate</strong> <strong>Limiting</strong> filter</a></h3>
        <div class="highlights">Contents Purpose With the <strong>Rate</strong> <strong>Limiting</strong> filter, you
            can set a maximum number of requests per second, minute, hour or day that are allowed to access
            your &hellip; absolute and current limits as they apply to you. Repose does not enforce absolute limits, but
            it does inform the origin service of those limits. The <strong>rate</strong> <strong>limiting</strong></div>
        <div class="search-result-meta"><a class="container" href="/wiki/spaces/REPOSE" title="Space">REPOSE</a> &bull;
            <span class="date" title="Last Modified">Jun 01, 2016</span></div>
    </li>
    <li><h3><span class="aui-icon aui-icon-small aui-iconfont- aui-iconfont-page-default"></span><a
            class="search-result-link visitable" href="/wiki/display/REPOSE/Rate+Limiting+Tutorial"
            data-type="page"><strong>Rate</strong> <strong>Limiting</strong> Tutorial</a></h3>
        <div class="highlights">Default Versions Getting Started Series Notice Contents Overview A common use case for
            Repose is <strong>rate</strong> <strong>limiting</strong>. It limits how many requests per some unit of time
            (e.g. 10 requests per minute) are allowed to be made. In our example, we&#39;ll be using the &quot;XPPUser&quot;
            header to indicate who we are for <strong>rate</strong> <strong>limiting</strong> purposes
        </div>
        <div class="search-result-meta"><a class="container" href="/wiki/spaces/REPOSE" title="Space">REPOSE</a> &bull;
            <span class="date" title="Last Modified">Jan 04, 2016</span></div>
    </li>
    <li><h3><span
            class="aui-icon aui-icon-small aui-iconfont- icon icon-com-atlassian-confluence-plugins-confluence-questions-question"></span><a
            class="search-result-link visitable"
            href="/wiki/questions/45056047/how-to-setup-distributed-rate-limiting-using-docker-container"
            data-type="com.atlassian.confluence.plugins.confluence-questions:question">How to setup distributed <strong>rate</strong>
        <strong>limiting</strong> using docker container</a></h3>
        <div class="highlights">Hi, Following the documentation, I was trying to set up repose container with
            distributed <strong>rate</strong> <strong>limiting</strong> on multiple machines. It works well on one
            machine &hellip; from internal(172...) to external(localhost), the two containers seem to be independent.
            <strong>Rate</strong> <strong>limiting</strong> works as single nodes. Note: when I was deploy it using
        </div>
        <div class="search-result-meta"><span class="date" title="Last Modified">Feb 16, 2016</span></div>
    </li>
    <li><h3><span
            class="aui-icon aui-icon-small aui-iconfont- icon icon-com-atlassian-confluence-plugins-confluence-questions-answer"></span><a
            class="search-result-link visitable" href="/wiki/questions/45056047/answers/47710218"
            data-type="com.atlassian.confluence.plugins.confluence-questions:answer">Re: How to setup distributed
        <strong>rate</strong> <strong>limiting</strong> using docker container</a></h3>
        <div class="highlights">Hi, Michael. I think we already got this resolved through email, but to close the loop
            on this here as well: When using the distributed datastore, the system model configurations must match on
            all of the nodes (i.e. &quot;localhost&quot; shouldn&#39;t be used as it won&#39;t let you match system
            models), and the host must be able to res
        </div>
        <div class="search-result-meta"><span class="date" title="Last Modified">Mar 01, 2016</span></div>
    </li>
    <li><h3><span class="aui-icon aui-icon-small aui-iconfont- aui-iconfont-page-default"></span><a
            class="search-result-link visitable" href="/wiki/display/REPOSE/_Rate+Limiting+by+IP" data-type="page">_Rate
        <strong>Limiting</strong> by IP</a></h3>
        <div class="highlights">by the originating IP, and the <strong>Rate</strong> <strong>Limiting</strong> filter
            https://repose.atlassian.net/wiki/display/REPOSE/RateLimitingFilter only ratelimits based on the XPPUser and
            XPPGroups &hellip; the whitelist in the IP User filter. If you have configured the whitelist, the XPPGroups
            will be given the value of IPSuper. The <strong>Rate</strong> <strong>Limiting</strong> filter
        </div>
        <div class="search-result-meta"><a class="container" href="/wiki/spaces/REPOSE" title="Space">REPOSE</a> &bull;
            <span class="date" title="Last Modified">Jun 02, 2016</span></div>
    </li>
    <li><h3><span
            class="aui-icon aui-icon-small aui-iconfont- icon icon-com-atlassian-confluence-plugins-confluence-questions-answer"></span><a
            class="search-result-link visitable" href="/wiki/questions/92471321/answers/92471336"
            data-type="com.atlassian.confluence.plugins.confluence-questions:answer">Re: REPOSE Configuration</a></h3>
        <div class="highlights">links to get you started: System model Container <strong>Rate</strong>
            <strong>Limiting</strong> filter If you installed Repose Valve from a package (DEB or RPM), the /etc/repose
            directory should &hellip; , albeit simple, instance of Repose looks like. The gist of setting up <strong>rate</strong>
            <strong>limiting</strong> will be modifying the system model to use your nodes (the machines running
        </div>
        <div class="search-result-meta"><span class="date" title="Last Modified">Jan 11, 2017</span></div>
    </li>
    <li><h3><span class="aui-icon aui-icon-small aui-iconfont- aui-iconfont-page-default"></span><a
            class="search-result-link visitable" href="/wiki/display/REPOSE/Using+multiple+filters" data-type="page">Using
        multiple filters</a></h3>
        <div class="highlights">Normalization Service Authentication URI Normalization Filters to be used with caution
            or to be avoided in multiples <strong>Rate</strong> <strong>Limiting</strong> Versioning Filter
            notes &hellip; in conjunction with uriregex patterns. Header Normalization Works as expected.
            <strong>Rate</strong> <strong>Limiting</strong> If the special consideration below are taken into account,
            then multiple <strong>rate</strong></div>
        <div class="search-result-meta"><a class="container" href="/wiki/spaces/REPOSE" title="Space">REPOSE</a> &bull;
            <span class="date" title="Last Modified">Nov 30, 2015</span></div>
    </li>
    <li><h3><span class="aui-icon aui-icon-small aui-iconfont- aui-iconfont-page-default"></span><a
            class="search-result-link visitable" href="/wiki/display/REPOSE/Tutorials" data-type="page">Tutorials</a>
    </h3>
        <div class="highlights">Echo Server Tutorial for more details. <strong>Rate</strong> <strong>Limiting</strong>
            <strong>Rate</strong> <strong>limiting</strong> is a common use case for Repose and is easy to test. See
            <strong>Rate</strong> <strong>Limiting</strong> Tutorial for more details. Old Tutorials These tutorials
            have not been cleaned up for the current version of Repose yet. Basic Authentication Distributed <strong>Rate</strong>
            <strong>Limiting</strong> Delegation
        </div>
        <div class="search-result-meta"><a class="container" href="/wiki/spaces/REPOSE" title="Space">REPOSE</a> &bull;
            <span class="date" title="Last Modified">Jan 04, 2016</span></div>
    </li>
    <li><h3><span class="aui-icon aui-icon-small aui-iconfont- aui-iconfont-page-default"></span><a
            class="search-result-link visitable"
            href="/wiki/display/REPOSE/_Rate+limit+regular+expression+based+on+query+string" data-type="page">_Rate
        limit regular expression based on query string</a></h3>
        <div class="highlights">You may want to <strong>rate</strong> limit users based on a particular query string in
            addition to using other <strong>rate</strong> <strong>limiting</strong> methods. <strong>Rate</strong>
            <strong>limiting</strong> regular expressions &hellip; a <strong>rate</strong> limit only if a given query
            parameter is present. To set up <strong>rate</strong> <strong>limiting</strong> based on query strings,
            configure the queryparamnames attribute to match all
        </div>
        <div class="search-result-meta"><a class="container" href="/wiki/spaces/REPOSE" title="Space">REPOSE</a> &bull;
            <span class="date" title="Last Modified">Jun 01, 2016</span></div>
    </li>
</ol>